.title {
    font-size: 40px;
    font-weight: bold;
}

.icons {
    margin: 0.5rem;
    font-size: 3rem;
    font-weight: 600;
    width: 3rem;
    cursor: pointer;
    color: grey;
}

.copy-icons {
    font-size: 20px;
    width: 20px;
    cursor: pointer;
    color: grey;
}

.copy-icons:hover,
.icons:hover {
    color: black;
    border-radius: 50%;
}