<div style="position: relative" fxLayoutAlign="center center"
    style="width: 100vw; height: 100vh; background-color: silver;">
    <div fxLayout="column" style="background-color: aliceblue; width: 40%; height: 40%; border-radius: 8px;">
        <div fxFlex="40" fxLayoutAlign="center center">
            <span class="title"> URL Shortener</span>
        </div>
        <div fxLayout="column" fxFlex="60">
            <div fxFlex="40" fxLayoutAlign="center center">
                <input required class="input-table" [(ngModel)]="longUrl"
                style="width: 60%; text-align: start; line-height: 2rem; font-size: 1.2rem;" placeholder="url"
                type="url" type="url">
                <span class="material-icons-outlined copy-icons" style="margin-left: .5rem;" (click)="shortUrl()">send</span>
            </div>
            
            <div *ngIf="value" fxFlex="60" fxLayoutAlign="center start" fxLayoutGap="5px">
                <span style="line-height: 26px;">Your short-url is</span>
                <input style="width: 12vw;" class="input" disabled [(ngModel)]="value">
                <span [cdkCopyToClipboard]="value" class="material-icons copy-icons">content_copy</span>
            </div>
        </div>
    </div>
</div>

<div style="position: fixed; top: 0; right: 0">
    <span class="material-icons icons" (click)="toSchedule()"> scheduler </span>
</div>