.container {
    width: 94%;
    padding: 5rem 3% 1rem;
    height: 100%;
    overflow: unset;
}

.top-container {
    height: 4rem;
    padding: 0 1rem;
    background: silver;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.title {
    font-size: 18px;
    line-height: 4rem;
    color: slategrey;
}

.mat-expansion-panel-spacing {
    margin: 0;
}

.content {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 100%;
    background: ghostwhite;
}

.mini-table {
    overflow-y: overlay;
    border: 1px solid rgb(0 0 0 / 12%);
    border-radius: .5vw;
}

.table-container {
    height: calc(38rem - 190px);
    border: 1px solid rgb(0 0 0 / 12%);
    border-radius: .5vw;
    overflow-y: overlay;
}

.table-container::-webkit-scrollbar {
    display: none;
}

.bottom-container {
    background: gainsboro;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: .5vw;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.bottom-container::-webkit-scrollbar {
    display: none;
}

.setting {
    height: calc(41rem - 190px);
}

.mini-table::-webkit-scrollbar {
    display: none;
}

.cell-icons {
    font-size: 17px;
}

.cell-icons:hover {
    cursor: pointer;
    color: black;
}

.icons:hover {
    cursor: pointer;
    color: black;
}

.mat-column-tick {
    width: 2.5rem;
}

.mat-column-number {
    width: 5vw;
    text-align: center;
}

.mat-column-name {
    width: 8vw;
    padding-left: 3rem
}

.mat-column-branch {
    width: 6vw;
    padding-left: 1rem
}

.mat-column-times {
    width: 5rem;
    text-align: center;
}

.mat-column-day {
    width: 15%;
    padding-right: 24px;
}

.table-container .mat-header-cell {
    text-align: center;
}

tr.mat-header-row {
    height: 40px;
    font-size: 16px;
}

tr.mat-row {
    color: gray;
    height: 42px;
}

tr.mat-row:hover {
    background-color: silver;
    color: dimgray !important;
}

.mat-header-cell {
    font-weight: 600;
    color: slategray;
    background: gainsboro;
}

.mat-cell {
    color: inherit;
    font-size: 12px;
    line-height: 30px;
    border: 0px;
}

::ng-deep.mat-checkbox-layout {
    background: white;
}

.comfirm-button {
    width: 6vw !important;
    color: white !important;
    font-size: .8vw !important;
    background-color: #49447c !important;
    border-radius: .5vw !important;
    border: 1px solid var(--light-gray-color) !important;
    padding: .4vw 0 !important;
    cursor: pointer;
}

.button-container {
    padding: 1vw 0 calc(1vw - 15px);
}

.right-container {
    overflow-y: auto;
}

.left-container {
    overflow-y: auto;
}

.right-container::-webkit-scrollbar {
    display: none;
}

.left-container::-webkit-scrollbar {
    display: none;
}

.drop-container {
    max-width: 100%;
    max-height: 20vw;
    vertical-align: top;
    overflow-y: auto;
}

.drop-container::-webkit-scrollbar {
    display: none;
}

.drop-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.drop-box-header {
    padding: 18px 10px;
    color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: space-between;
    cursor: move;
    background: whitesmoke;
    font-size: 16px;
    border-bottom: solid 1px #ccc;
}

.drop-box {
    padding: 10px;
    color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: space-between;
    cursor: move;
    background: white;
    font-size: 14px;
}

.drop-box:hover {
    background-color: silver;
    color: rgba(0, 0, 0, 0.8);
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-box:last-child {
    border: none;
}

.drop-list.cdk-drop-list-dragging .drop-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.right-container .mat-expansion-panel-header {
    background: gainsboro;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.mat-accordion .mat-expansion-panel:first-of-type {
    border-top-left-radius: .5vw;
    border-top-right-radius: .5vw;
}

.mat-accordion .mat-expansion-panel:last-of-type {
    border-bottom-left-radius: .5vw;
    border-bottom-right-radius: .5vw;
}

.left-container .mat-expansion-panel-header {
    background: gainsboro;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background: rgba(0, 0, 0, 0.08);
}

.mat-menu-item:hover:not([disabled]) {
    background: gainsboro;
}

.mat-menu-item {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}

::ng-deep.select .mat-form-field-infix {
    width: none;
}

::ng-deep.select .mat-select-value {
    color: slategrey !important;
    padding-left: 8px;
}

::ng-deep.mat-menu-content:not(:empty) {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

::ng-deep.mat-expansion-panel-body {
    padding: 16px 10px !important;
}